* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

    color: var(--white-color);
}

:root {
    --container-padding: min(240px, 20vw);
    --container-width: 1164px;

    --orange-color: #F44F0C;
    --light-orange-color: #E7571A;
    --gray-color: #8E8D8B;
    --white-color: #fff;
}

body {
    background-color: #0D0D0D;
    font-family: Arial;
    color: white;
}

/* TIPOGRAFIA */

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -1.44px;
}

h2 {
    font-size: 34px;
    letter-spacing: -0.34px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.48px;

}

p {
    font-size: 17.8px;
    line-height: 1.25;
}

p.big {
    font-size: 21px;
    letter-spacing: -0.84px;
    line-height: 1;
}

button {
    font-size: 21px;
    letter-spacing: -0.84px;
    line-height: 1;

}

.orange {
    color: var(--orange-color);
}

.uppercase {
    text-transform: uppercase;
}

*.gray {
    color: var(--gray-color)
}

/* Section header */
section {
    max-width: var(--container-width);
    padding-top: 33px;
    /* padding-inline: var(--container-padding); */
    margin-inline: auto;
}

nav {
    max-width: var(--container-width);
    /* padding-inline: var(--container-padding); */
    margin-inline: auto;
    padding-block: 1.3125rem;
}

.conteiner {
    background-color: #262626;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;

    /* padding: 1.5rem 2rem; */
}

.menu h1 {
    color: #F2561D;
    font-size: 2.5rem;
}

ul {
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

/* Section Hero */

.hero {
    display: flex;
    align-items: center;

    margin: auto;

    gap: 50px;
    padding-top: 5rem;

}

.hero h1 {
    font-size: 2.5rem;
}

.hero span {
    color: #F2561D;
}

.hero a {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: bold;
}

.hero button {
    background-color: #F2561D;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    margin-top: 1.5rem;
    border: none;
}

/* Section sobre */

.sobre {
    padding-bottom: 2.2575vw;
}

.card-Sobre {
    display: flex;
    justify-content: space-between;
    align-items: start;

    padding: 35px;
    margin: auto;

    border-radius: 15px;
    background-color: #262626;

}

.cara {
    width: 454px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;

    /* object-fit: cover; */
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    height: 454px;
    padding-left: 55px;

}

.descricao {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.25;
    color: #8E8D8B;
}

.descricao h3:not(:nth-of-type(1)),
.descricao h2 {
    margin-top: 0.5rem;
}

.descricao p {
    margin-top: 2rem;

}

.icons {
    display: grid;
    grid-template-columns: repeat(4, 51px);
    /* grid-template-rows: repeat(4, 54px); */
    justify-content: space-between;
    /* margin-top: 12rem; */
    height: 54px;

}

.icons a {
    padding: 17.24%;
    background-color: #F2561D;
    border-radius: 10px;
}

.icons img {
    height: 100%;
}

.informacoes h1 {
    font-size: 2rem;
}

.informacoes span {
    color: #F2561D;
    font-size: 1.4rem;
}

/* Section serviços */

.gray-background {
    display: flex;
    justify-content: space-between;

    padding-block: 2.2575vw;

    background-color: #262626;

    /* Colocando o fundo em cinza */
    clip-path: inset(0 -100vmax);
    box-shadow: 0 0 0 100vmax #262626;
}


.conhecimento p {
    margin-top: 2rem;
}

/* .conhecimento h1 {
    font-size: 2.5rem;
} */

.Tec {
    display: grid;
    grid-template-columns: repeat(4, max(5.93vw, 110px));
    gap: 2.50vw;

    /* border: 5px solid red; */
}

.Tec a {
    /* padding: 20px; */
    display: inline-flex;
    place-content: center;

    /* width: 100%; */
    aspect-ratio: 1/1;
    padding: 21.81%;

    border-radius: 10px;
    background-color: #F2561D;
}

.Tec img {
    /* width: 44px; */
    height: 100%;
    /* padding: 18.3%; */
    aspect-ratio: 1/1;

    /* padding: 18.3% */
}

/* Section serviços */

/* .apresentaçao {} */

.apresentaçao h3 {
    margin-top: 2rem;
}

.apresentaçao p {
    margin-top: 2rem;
}

.Div-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 71px;

    margin-top: 2rem;
}

.card {
    /* border: 5px solid royalblue; */
    padding: 24px;

    background-color: var(--light-orange-color);
    border-radius: 5px;
    margin-bottom: 33px;
}

.card img {
    display: block;

    height: 84px;
    width: auto;
    margin-inline: auto;

}

.card h2 {
    margin-top: 2rem;
    text-align: center;
}

.card p {
    margin-top: 1rem;

    text-align: center;

}

.card button {
    width: calc(100% - 48px);
    padding-block: 24px;
    margin-top: 2rem;
    margin-inline: 24px;

    text-align: center;

    background: #2B2B2B;

}

/* Footer  */



.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: var(--container-width);
    

    box-shadow: 0 0 0 100vmax #262626;
    clip-path: inset(0 -100vmax);

}

.rodape p span {
    color: var(--orange-color);
}

.rodape h1 {
    color: var(--orange-color);
}